h1 {
  font-size: 35px;
  font-weight: 500px;
  text-transform: capitalize;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 12px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 4px;
}

.main-image {
  width: 30%;
  position: absolute;
  left: 5%;
  top: 25px;
  opacity: 90%;
  z-index: 15;
}
.rotate {
  animation: rotation 25s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
