.Footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px;
  z-index: 0;
}

@media (max-width: 768px) {
  .Footer {
    bottom: 10px;
  }
}

@media (max-width: 400px) {
  .Footer {
    bottom: 4px;
  }
}
