.search-container {
  position: absolute;
  top: 40px;
  right: 10%;
  z-index: 1;
  text-align: right;
}

.search-bar {
  max-width: 180px;
  padding: 3px 0;
  border-radius: 13px;
  border: 1.5px solid rgb(255, 255, 255);
}
